<!DOCTYPE html>

<html lang="vi">
<head>
<meta charset="utf-8"/>
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<meta content="ie=edge" http-equiv="X-UA-Compatible"/>
<title>Lá số tử vi</title>
<link href="https://fonts.googleapis.com/css2?family=Lato&amp;display=swap" rel="stylesheet"/>
<link href="../assets/plugins/bootstrap/css/bootstrap-v3.css" rel="stylesheet" type="text/css"/>
<link href="../assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
<link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" rel="stylesheet"/>
<link href="../assets/css/horoscope.css" rel="stylesheet" type="text/css"/>
<link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
<link crossorigin="anonymous" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.3/css/toastr.css" integrity="sha512-NnZd74hdqZutgA8qSrTyZgF906J9YxsIidNykC5ieRh3/NXQmZAnk50MHUNYOJfRYgR3gHUOJKtQhOf7qov4mg==" rel="stylesheet">
<style>
        .modify-year-input {
            font-size: 12px
        }

        .toast-message {
            font-weight: normal;
        }
    </style>
</link></link></head>
<body>


<div class="main-container m-auto" style="background-image: url(../assets/images/ly-so/bglasotuvi2-02.jpg)">
<div class="small-ticket end-blocks" id="cung_6">
<div class="ticket-header">
<p class="uppercase-text header_left">
<span class="bold capitalize" style="color: #ff0000">
                        K.Tị
                    </span>
</p>
<p class="uppercase-text header_center">
<span class="bold uppercase" style="color: #00008B">
                        QUAN LỘC
                    </span>
</p>
<p class="header_right">
<span class="bold uppercase" style="color: #ff0000">
                        THÂN
                    </span>
<span class="bold capitalize" style="color: #000000">
                        42
                    </span>
</p>
</div>
<div class="title-text">
<p class="title">
<span class="bold uppercase" style="color: #000000">
                        THIÊN TƯỚNG(Đ)
                    </span>
</p>
</div>
<div class="main-details-container">
<div class="left-container">
<p class="normal capitalize" style="color: #ff0000">Thiếu Dương </p>
<p class="normal capitalize" style="color: #000000">Thiên Hỷ </p>
<p class="normal capitalize" style="color: #FF9900">Thiên Trù </p>
<p class="normal capitalize" style="color: #999999">LN.Văn Tinh </p>
<p class="normal capitalize" style="color: #009933">Ân Quang </p>
<p class="normal capitalize" style="color: #FF9900">Thiên Tài </p>
</div>
<div class="right-container">
<p class="bold capitalize" style="color: #ff0000">Thiên Không </p>
<p class="normal capitalize" style="color: #ff0000">Tiểu Hao(H) </p>
<p class="normal capitalize" style="color: #ff0000">Kiếp Sát </p>
<p class="normal capitalize" style="color: #FF9900">Cô Thần </p>
<p class="normal capitalize" style="color: #ff0000">Đẩu Quân </p>
</div>
</div>
<div class="tuan-triet tuan-triet-both tuan-triet-both-6">
                TUẦN - TRIỆT
            </div>
<div class="ticket-footer">
<p class="footer-left">
<span class="normal capitalize" style="color: #000000">
                        năm Hợi
                    </span>
</p>
<p class="footer-center">
<span class="bold capitalize" style="color: #000000">
                        Tuyệt
                    </span>
</p>
<p class="footer-right">
<span class="normal capitalize" style="color: #000000">
                        tháng 7
                    </span>
</p>
</div>
</div>
<div class="small-ticket" id="cung_7">
<div class="ticket-header">
<p class="uppercase-text header_left">
<span class="bold capitalize" style="color: #ff0000">
                        C.Ngọ
                    </span>
</p>
<p class="uppercase-text header_center">
<span class="bold uppercase" style="color: #00008B">
                        NÔ BỘC
                    </span>
</p>
<p class="header_right">
<span class="bold capitalize" style="color: #000000">
                        52
                    </span>
</p>
</div>
<div class="title-text">
<p class="title">
<span class="bold uppercase" style="color: #FF9900">
                        THIÊN LƯƠNG(M)
                    </span>
</p>
</div>
<div class="main-details-container">
<div class="left-container">
<p class="normal capitalize" style="color: #009933">Phượng Các </p>
<p class="normal capitalize" style="color: #009933">Giải Thần </p>
</div>
<div class="right-container">
<p class="normal capitalize" style="color: #009933">Tang Môn(H) </p>
<p class="normal capitalize" style="color: #009933">Tướng Quân </p>
<p class="normal capitalize" style="color: #FF9900">Thiên Thương </p>
<p class="normal capitalize" style="color: #009933">L.Tang Môn </p>
</div>
</div>
<div class="tuan-triet tuan-triet-both tuan-triet-both-7">
                TUẦN - TRIỆT
            </div>
<div class="ticket-footer">
<p class="footer-left">
<span class="normal capitalize" style="color: #000000">
                        năm Tý
                    </span>
</p>
<p class="footer-center">
<span class="bold capitalize" style="color: #000000">
                        Thai
                    </span>
</p>
<p class="footer-right">
<span class="normal capitalize" style="color: #000000">
                        tháng 8
                    </span>
</p>
</div>
</div>
<div class="small-ticket end-blocks" id="cung_8">
<div class="ticket-header">
<p class="uppercase-text header_left">
<span class="bold capitalize" style="color: #FF9900">
                        T.Mùi
                    </span>
</p>
<p class="uppercase-text header_center">
<span class="bold uppercase" style="color: #00008B">
                        THIÊN DI
                    </span>
</p>
<p class="header_right">
<span class="bold capitalize" style="color: #000000">
                        62
                    </span>
</p>
</div>
<div class="title-text">
<p class="title">
<span class="bold uppercase" style="color: #ff0000">
                        LIÊM TRINH(Đ)
                    </span>
<span class="bold uppercase" style="color: #999999">
                        THẤT SÁT(Đ)
                    </span>
</p>
</div>
<div class="main-details-container">
<div class="left-container">
<p class="normal capitalize" style="color: #000000">Thiếu Âm </p>
<p class="bold capitalize" style="color: #ff0000">Thiên Việt </p>
<p class="normal capitalize" style="color: #ff0000">Thiên Quan </p>
<p class="normal capitalize" style="color: #009933">Đường Phù </p>
<p class="bold capitalize" style="color: #009933">Hóa Lộc(Đ) </p>
<p class="normal capitalize" style="color: #999999">Tấu Thư </p>
</div>
<div class="right-container">
<p class="bold capitalize" style="color: #ff0000">Địa Kiếp(H) </p>
</div>
</div>
<div class="tuan-triet tuan-triet-both tuan-triet-both-8">
                TUẦN - TRIỆT
            </div>
<div class="ticket-footer">
<p class="footer-left">
<span class="normal capitalize" style="color: #000000">
                        năm Sửu
                    </span>
</p>
<p class="footer-center">
<span class="bold capitalize" style="color: #000000">
                        Dưỡng
                    </span>
</p>
<p class="footer-right">
<span class="normal capitalize" style="color: #000000">
                        tháng 9
                    </span>
</p>
</div>
</div>
<div class="small-ticket" id="cung_9">
<div class="ticket-header">
<p class="uppercase-text header_left">
<span class="bold capitalize" style="color: #999999">
                        N.Thân
                    </span>
</p>
<p class="uppercase-text header_center">
<span class="bold uppercase" style="color: #00008B">
                        TẬT ÁCH
                    </span>
</p>
<p class="header_right">
<span class="bold capitalize" style="color: #000000">
                        72
                    </span>
</p>
</div>
<div class="title-text">
<p class="title">
</p>
</div>
<div class="main-details-container">
<div class="left-container">
<p class="normal capitalize" style="color: #000000">Long Trì </p>
<p class="normal capitalize" style="color: #000000">Thiên Y </p>
</div>
<div class="right-container">
<p class="normal capitalize" style="color: #ff0000">Quan Phù </p>
<p class="normal capitalize" style="color: #000000">Thiên Diêu(H) </p>
<p class="normal capitalize" style="color: #ff0000">Phi Liêm </p>
<p class="normal capitalize" style="color: #000000">Thiên Sứ </p>
</div>
</div>
<div class="tuan-triet tuan-triet-bot tuan-triet-9">
                TRIỆT
            </div>
<div class="tuan-triet tuan-triet-both tuan-triet-both-9">
                TUẦN - TRIỆT
            </div>
<div class="ticket-footer">
<p class="footer-left">
<span class="normal capitalize" style="color: #000000">
                        năm Dần
                    </span>
</p>
<p class="footer-center">
<span class="bold capitalize" style="color: #000000">
                        Trường Sinh
                    </span>
</p>
<p class="footer-right">
<span class="normal capitalize" style="color: #000000">
                        tháng 10
                    </span>
</p>
</div>
</div>
<div class="small-ticket" id="cung_5">
<div class="ticket-header">
<p class="uppercase-text header_left">
<span class="bold capitalize" style="color: #FF9900">
                        M.Thìn
                    </span>
</p>
<p class="uppercase-text header_center">
<span class="bold uppercase" style="color: #00008B">
                        ĐIỀN TRẠCH
                    </span>
</p>
<p class="header_right">
<span class="bold capitalize" style="color: #000000">
                        32
                    </span>
</p>
</div>
<div class="title-text">
<p class="title">
<span class="bold uppercase" style="color: #000000">
                        CỰ MÔN(H)
                    </span>
</p>
</div>
<div class="main-details-container">
<div class="left-container">
<p class="normal capitalize" style="color: #000000">Thanh Long </p>
<p class="normal capitalize" style="color: #999999">Hoa Cái </p>
</div>
<div class="right-container">
<p class="normal capitalize" style="color: #ff0000">Thái Tuế </p>
<p class="normal capitalize" style="color: #ff0000">Thiên Hình(H) </p>
<p class="normal capitalize" style="color: #999999">Thiên La </p>
<p class="normal capitalize" style="color: #ff0000">L.Thái Tuế </p>
</div>
</div>
<div class="tuan-triet tuan-triet-both tuan-triet-both-5">
                TUẦN - TRIỆT
            </div>
<div class="ticket-footer">
<p class="footer-left">
<span class="normal capitalize" style="color: #000000">
                        năm Tuất
                    </span>
</p>
<p class="footer-center">
<span class="bold capitalize" style="color: #000000">
                        Mộ
                    </span>
</p>
<p class="footer-right">
<span class="normal capitalize" style="color: #000000">
                        tháng 6
                    </span>
</p>
</div>
</div>
<div class="big-ticket">
<table>
<tr>
<th class="fixed-title-color">Họ tên:</th>
<th class="bold entry-name" style="color: #00008B">
                        PHAM VAN MINH</th>
<th></th>
</tr>
<tbody>
<tr>
<td class="fixed-title-color">Năm:</td>
<td class="bold entry-birthyear" style="color: #00008B">
                            2024
                        </td>
<td class="bold" style="color: #00008B">
                            Giáp Thìn</td>
</tr>
<tr>
<td class="fixed-title-color">Tháng:</td>
<td class="bold special-columm" style="color: #00008B">
<div class="entry-month">10</div>
<div class="second-div-spec">8</div>
</td>
<td class="bold" style="color: #00008B">
                            Quý Dậu</td>
</tr>
<tr>
<td class="fixed-title-color">Ngày:</td>
<td class="bold special-columm" style="color: #00008B">
<div class="entry-date">1</div>
<div class="second-div-spec">29</div>
</td>
<td class="bold" style="color: #00008B">
                            Mậu Tuất</td>
</tr>
<tr>
<td class="fixed-title-color">Giờ:</td>
<td class="bold entry-hour" style="color: #00008B">
                            16:18
                        </td>
<td class="bold" style="color: #00008B">
                            Canh Thân</td>
</tr>
<tr>
<td class="fixed-title-color">Năm xem:</td>
<td class="bold entry-year" style="color: #00008B">
                            2024
                        </td>
<td class="bold" style="color: #00008B">
                            Giáp Thìn </td>
</tr>
<tr>
<td></td>
<td></td>
<td class="bold" style="color: #00008B">
                            1 tuổi
                        <td>
</td></td></tr>
<tr>
<td class="fixed-title-color">Âm dương:</td>
<td class="entry-sex" style="color:#00008B">
                            Dương Nam</td>
<td> </td>
</tr>
<tr>
<td class="fixed-title-color"></td>
<td style="color:#00008B">
                            Âm Dương nghịch lý</td>
<td></td>
</tr>
<tr>
<td class="fixed-title-color">Mệnh:</td>
<td class="bold" style="color: #00008B">
                            Phú Đăng Hỏa</td>
<td></td>
</tr>
<tr>
<td class="fixed-title-color">Cục:</td>
<td style="color: #00008B ">
                            Thủy Nhị Cục</td>
<td></td>
</tr>
<tr>
<td class="fixed-title-color"></td>
<td style="color: #00008B ">
                            Cục khắc Mệnh</td>
<td></td>
</tr>
<tr>
<td class="fixed-title-color"></td>
<td style="color: #00008B ">
                            Thân cư Quan</td>
<td></td>
</tr>
<tr>
<td class="fixed-title-color">Mệnh chủ:</td>
<td style="color: #00008B">
                            Liêm Trinh</td>
<td></td>
</tr>
<tr>
<td class="fixed-title-color">Thân chủ:</td>
<td style="color: #00008B">
                            Văn Xương</td>
<td></td>
</tr>
</tbody>
</table>


</div>
<div class="small-ticket end-blocks" id="cung_10">
<div class="ticket-header">
<p class="uppercase-text header_left">
<span class="bold capitalize" style="color: #999999">
                        Q.Dậu
                    </span>
</p>
<p class="uppercase-text header_center">
<span class="bold uppercase" style="color: #00008B">
                        TÀI BẠCH
                    </span>
</p>
<p class="header_right">
<span class="bold capitalize" style="color: #000000">
                        82
                    </span>
</p>
</div>
<div class="title-text">
<p class="title">
</p>
</div>
<div class="main-details-container">
<div class="left-container">
<p class="normal capitalize" style="color: #ff0000">Nguyệt Đức </p>
<p class="normal capitalize" style="color: #FF9900">Thiên Phúc </p>
<p class="normal capitalize" style="color: #ff0000">Hỉ Thần </p>
<p class="normal capitalize" style="color: #009933">Đào Hoa </p>
<p class="normal capitalize" style="color: #FF9900">Thiên Quý </p>
<p class="normal capitalize" style="color: #FF9900">Thiên Thọ </p>
</div>
<div class="right-container">
<p class="normal capitalize" style="color: #ff0000">Tử Phù </p>
<p class="normal capitalize" style="color: #000000">Lưu Hà </p>
</div>
</div>
<div class="tuan-triet tuan-triet-top 10 tuan-triet-10">
                TRIỆT
            </div>
<div class="tuan-triet tuan-triet-both tuan-triet-both-10">
                TUẦN - TRIỆT
            </div>
<div class="ticket-footer">
<p class="footer-left">
<span class="normal capitalize" style="color: #000000">
                        năm Mão
                    </span>
</p>
<p class="footer-center">
<span class="bold capitalize" style="color: #000000">
                        Mộc Dục
                    </span>
</p>
<p class="footer-right">
<span class="normal capitalize" style="color: #000000">
                        tháng 11
                    </span>
</p>
</div>
</div>
<div class="small-ticket" id="cung_3">
<div class="ticket-header">
<p class="uppercase-text header_left">
<span class="bold capitalize" style="color: #00008B">
                        B.Dần
                    </span>
</p>
<p class="uppercase-text header_center">
<span class="bold uppercase" style="color: #00008B">
                        PHỤ MẪU
                    </span>
</p>
<p class="header_right">
<span class="bold capitalize" style="color: #000000">
                        12
                    </span>
</p>
</div>
<div class="title-text">
<p class="title">
<span class="bold uppercase" style="color: #009933">
                        THIÊN CƠ(H)
                    </span>
<span class="bold uppercase" style="color: #000000">
                        THÁI ÂM(H)
                    </span>
</p>
</div>
<div class="main-details-container">
<div class="left-container">
<p class="normal capitalize" style="color: #FF9900">Địa Giải </p>
<p class="bold capitalize" style="color: #999999">Văn Xương(H) </p>
<p class="normal capitalize" style="color: #999999">Thai Phụ </p>
<p class="normal capitalize" style="color: #FF9900">Lộc Tồn(M) </p>
<p class="normal capitalize" style="color: #000000">Bác Sỹ </p>
<p class="normal capitalize" style="color: #ff0000">Thiên Mã(Đ) </p>
<p class="normal capitalize" style="color: #FF9900">L.Lộc Tồn </p>
<p class="normal capitalize" style="color: #ff0000">L.Thiên Mã </p>
</div>
<div class="right-container">
<p class="normal capitalize" style="color: #000000">Thiên Khốc(H) </p>
<p class="normal capitalize" style="color: #ff0000">Điếu Khách </p>
<p class="bold capitalize" style="color: #ff0000">Linh Tinh(Đ) </p>
<p class="normal capitalize" style="color: #000000">L.Thiên Khốc </p>
</div>
</div>
<div class="tuan-triet tuan-triet-top tuan-triet-3">
                TUẦN
            </div>
<div class="tuan-triet tuan-triet-both tuan-triet-both-3">
                TUẦN - TRIỆT
            </div>
<div class="ticket-footer">
<p class="footer-left">
<span class="normal capitalize" style="color: #000000">
                        năm Thân
                    </span>
</p>
<p class="footer-center">
<span class="bold capitalize" style="color: #000000">
                        Bệnh
                    </span>
</p>
<p class="footer-right">
<span class="normal capitalize" style="color: #000000">
                        tháng 4
                    </span>
</p>
</div>
</div>
<div class="small-ticket first-start-block" id="cung_2">
<div class="ticket-header">
<p class="uppercase-text header_left">
<span class="bold capitalize" style="color: #FF9900">
                        Đ.Sửu
                    </span>
</p>
<p class="uppercase-text header_center">
<span class="bold uppercase" style="color: #00008B">
                        MỆNH
                    </span>
</p>
<p class="header_right">
<span class="bold capitalize" style="color: #000000">
                        2
                    </span>
</p>
</div>
<div class="title-text">
<p class="title">
<span class="bold uppercase" style="color: #FF9900">
                        THIÊN PHỦ(B)
                    </span>
</p>
</div>
<div class="main-details-container">
<div class="left-container">
<p class="normal capitalize" style="color: #FF9900">Phúc Đức </p>
<p class="normal capitalize" style="color: #ff0000">Thiên Đức </p>
<p class="bold capitalize" style="color: #ff0000">Thiên Khôi </p>
</div>
<div class="right-container">
<p class="normal capitalize" style="color: #ff0000">Quan Phủ </p>
<p class="normal capitalize" style="color: #ff0000">Phá Toái </p>
<p class="normal capitalize" style="color: #FF9900">Quả Tú </p>
<p class="bold capitalize" style="color: #999999">Đà La(Đ) </p>
<p class="normal capitalize" style="color: #999999">L.Đà La </p>
</div>
</div>
<div class="tuan-triet tuan-triet-both tuan-triet-both-2">
                TUẦN - TRIỆT
            </div>
<div class="ticket-footer">
<p class="footer-left">
<span class="normal capitalize" style="color: #000000">
                        năm Mùi
                    </span>
</p>
<p class="footer-center">
<span class="bold capitalize" style="color: #000000">
                        Suy
                    </span>
</p>
<p class="footer-right">
<span class="normal capitalize" style="color: #000000">
                        tháng 3
                    </span>
</p>
</div>
</div>
<div class="small-ticket" id="cung_1">
<div class="ticket-header">
<p class="uppercase-text header_left">
<span class="bold capitalize" style="color: #000000">
                        B.Tý
                    </span>
</p>
<p class="uppercase-text header_center">
<span class="bold uppercase" style="color: #00008B">
                        HUYNH ĐỆ
                    </span>
</p>
<p class="header_right">
<span class="bold capitalize" style="color: #000000">
                        112
                    </span>
</p>
</div>
<div class="title-text">
<p class="title">
<span class="bold uppercase" style="color: #ff0000">
                        THÁI DƯƠNG(H)
                    </span>
</p>
</div>
<div class="main-details-container">
<div class="left-container">
<p class="bold capitalize" style="color: #000000">Văn Khúc(M) </p>
</div>
<div class="right-container">
<p class="normal capitalize" style="color: #999999">Bạch Hổ(H) </p>
<p class="bold capitalize" style="color: #000000">Hóa Kị(H) </p>
<p class="normal capitalize" style="color: #ff0000">Phục Binh </p>
<p class="normal capitalize" style="color: #999999">L.Bạch Hổ </p>
</div>
</div>
<div class="tuan-triet tuan-triet-both tuan-triet-both-1">
                TUẦN - TRIỆT
            </div>
<div class="ticket-footer">
<p class="footer-left">
<span class="normal capitalize" style="color: #000000">
                        năm Ngọ
                    </span>
</p>
<p class="footer-center">
<span class="bold capitalize" style="color: #000000">
                        Đế Vượng
                    </span>
</p>
<p class="footer-right">
<span class="normal capitalize" style="color: #000000">
                        tháng 2
                    </span>
</p>
</div>
</div>
<div class="small-ticket" id="cung_12">
<div class="ticket-header">
<p class="uppercase-text header_left">
<span class="bold capitalize" style="color: #000000">
                        A.Hợi
                    </span>
</p>
<p class="uppercase-text header_center">
<span class="bold uppercase" style="color: #00008B">
                        THÊ THIẾP
                    </span>
</p>
<p class="header_right">
<span class="bold capitalize" style="color: #000000">
                        102
                    </span>
</p>
</div>
<div class="title-text">
<p class="title">
<span class="bold uppercase" style="color: #999999">
                        VŨ KHÚC(H)
                    </span>
<span class="bold uppercase" style="color: #000000">
                        PHÁ QUÂN(H)
                    </span>
</p>
</div>
<div class="main-details-container">
<div class="left-container">
<p class="normal capitalize" style="color: #000000">Long Đức </p>
<p class="normal capitalize" style="color: #000000">Hồng Loan </p>
<p class="bold capitalize" style="color: #FF9900">Tả Phù </p>
<p class="bold capitalize" style="color: #009933">Hóa Quyền(Đ) </p>
<p class="bold capitalize" style="color: #009933">Hóa Khoa(Đ) </p>
<p class="normal capitalize" style="color: #009933">Bát Tọa </p>
</div>
<div class="right-container">
<p class="normal capitalize" style="color: #ff0000">Đại Hao(H) </p>
</div>
</div>
<div class="tuan-triet tuan-triet-both tuan-triet-both-12">
                TUẦN - TRIỆT
            </div>
<div class="ticket-footer">
<p class="footer-left">
<span class="normal capitalize" style="color: #000000">
                        năm Tị
                    </span>
</p>
<p class="footer-center">
<span class="bold capitalize" style="color: #000000">
                        Lâm Quan
                    </span>
</p>
<p class="footer-right">
<span class="normal capitalize" style="color: #000000">
                        tháng 1
                    </span>
</p>
</div>
</div>
<div class="small-ticket absolute-ticket" id="cung_4">
<div class="ticket-header">
<p class="uppercase-text header_left">
<span class="bold capitalize" style="color: #00008B">
                        Đ.Mão
                    </span>
</p>
<p class="uppercase-text header_center">
<span class="bold uppercase" style="color: #00008B">
                        PHÚC ĐỨC
                    </span>
</p>
<p class="header_right">
<span class="bold capitalize" style="color: #000000">
                        22
                    </span>
</p>
</div>
<div class="title-text">
<p class="title">
<span class="bold uppercase" style="color: #FF9900">
                        TỬ VI(B)
                    </span>
<span class="bold uppercase" style="color: #009933">
                        THAM LANG(H)
                    </span>
</p>
</div>
<div class="main-details-container">
<div class="left-container">
<p class="bold capitalize" style="color: #000000">Hữu Bật </p>
<p class="normal capitalize" style="color: #ff0000">Thiên Giải </p>
<p class="normal capitalize" style="color: #ff0000">Lực Sĩ </p>
<p class="normal capitalize" style="color: #000000">Tam Thai </p>
</div>
<div class="right-container">
<p class="normal capitalize" style="color: #ff0000">Trực Phù </p>
<p class="bold capitalize" style="color: #ff0000">Địa Không(H) </p>
<p class="bold capitalize" style="color: #999999">Kình dương(H) </p>
<p class="normal capitalize" style="color: #999999">L.Kình Dương </p>
</div>
</div>
<div class="tuan-triet tuan-triet-bot tuan-triet-4">
                TUẦN
            </div>
<div class="tuan-triet tuan-triet-both tuan-triet-both-4">
                TUẦN - TRIỆT
            </div>
<div class="ticket-footer">
<p class="footer-left">
<span class="normal capitalize" style="color: #000000">
                        năm Dậu
                    </span>
</p>
<p class="footer-center">
<span class="bold capitalize" style="color: #000000">
                        Tử
                    </span>
</p>
<p class="footer-right">
<span class="normal capitalize" style="color: #000000">
                        tháng 5
                    </span>
</p>
</div>
</div>
<div class="small-ticket absolute-ticket" id="cung_11">
<div class="ticket-header">
<p class="uppercase-text header_left">
<span class="bold capitalize" style="color: #FF9900">
                        G.Tuất
                    </span>
</p>
<p class="uppercase-text header_center">
<span class="bold uppercase" style="color: #00008B">
                        TỬ TỨC
                    </span>
</p>
<p class="header_right">
<span class="bold capitalize" style="color: #000000">
                        92
                    </span>
</p>
</div>
<div class="title-text">
<p class="title">
<span class="bold uppercase" style="color: #000000">
                        THIÊN ĐỒNG(H)
                    </span>
</p>
</div>
<div class="main-details-container">
<div class="left-container">
<p class="normal capitalize" style="color: #FF9900">Phong Cáo </p>
<p class="normal capitalize" style="color: #FF9900">Quốc Ấn </p>
</div>
<div class="right-container">
<p class="normal capitalize" style="color: #000000">Thiên Hư(H) </p>
<p class="normal capitalize" style="color: #ff0000">Tuế Phá </p>
<p class="normal capitalize" style="color: #FF9900">Bệnh Phù </p>
<p class="bold capitalize" style="color: #ff0000">Hỏa Tinh(H) </p>
<p class="normal capitalize" style="color: #999999">Địa Võng </p>
<p class="normal capitalize" style="color: #000000">L.Thiên Hư </p>
</div>
</div>
<div class="tuan-triet tuan-triet-both tuan-triet-both-11">
                TUẦN - TRIỆT
            </div>
<div class="ticket-footer">
<p class="footer-left">
<span class="normal capitalize" style="color: #000000">
                        năm Thìn
                    </span>
</p>
<p class="footer-center">
<span class="bold capitalize" style="color: #000000">
                        Quan Đới
                    </span>
</p>
<p class="footer-right">
<span class="normal capitalize" style="color: #000000">
                        tháng 12
                    </span>
</p>
</div>
</div>
<div class="line" id="line1"></div>
<div class="line" id="line2"></div>
<div class="line" id="line3"></div>
</div>
<div class="image-container">
</div>


<script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
<script crossorigin="anonymous" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script crossorigin="anonymous" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js">
</script>
<script crossorigin="anonymous" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js">
</script>
<script crossorigin="anonymous" integrity="sha512-lbwH47l/tPXJYG9AcFNoJaTMhGvYWhVM9YI43CT+uteTRRaiLCui8snIgyAN8XWgNjNhCqlAUdzZptso6OCoFQ==" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"></script>
<script>
        const isMobile = /iPhone|iPad|iPod|Android/i.test(navigator.userAgent);
        const isAndroid = /Android/i.test(navigator.userAgent);
        const isMobileWidth = document.documentElement.clientWidth < 480;
        if (isMobile || isMobileWidth) {
            document.querySelector("meta[name=viewport]").setAttribute(
                'content',
                'width=device-width, initial-scale=0.55')
        }

        const pictureReference = document.querySelector(".main-container");
        const pictureContainer = document.querySelector(".image-container");
        const captureButton = document.querySelector('#capture-button');



        function handleCaptureButtonClick() {
            window.scrollTo(0, 0);
            pictureReference.classList.remove('d-none');
            pictureContainer.classList.add('d-none');
            html2canvas(pictureReference, {scrollY: -window.scrollY}).then(canvas => {

                savePictureToComputer(canvas.toDataURL(), 'la-so-tu-vi.png');
                pictureContainer.classList.remove('d-none');
                pictureReference.classList.add('d-none');
            });
        }


        // function handleCaptureButtonClick () {
        //     window.scrollTo(0, 0);
        //     let windowReference;
        //     if (isMobile) {
        //         windowReference = window.open();
        //     } else {
        //         pictureReference.classList.remove('m-auto')
        //     }
        //     html2canvas(pictureReference, {scrollY: -window.scrollY}).then(canvas => {
        //         if (!isMobile) {
        //             // savePictureToComputer(canvas.toDataURL(), 'la-so-tu-vi.png');
        //             pictureContainer.appendChild(canvas);
        //             // pictureReference.classList.add('d-none');
        //         } else {
        //             windowReference.document.write(`<img src="${canvas.toDataURL()}" />`)
        //         }
        //     });
        // }
        // https://stackoverflow.com/questions/41165865/download-html2canvas-image-to-desktop
        function savePictureToComputer(uri, filename) {
              const link = document.createElement('a');
                if (typeof link.download === 'string') {
                    link.href = uri;
                    link.download = filename;
                    document.body.appendChild(link);
                    link.click();
                    document.body.removeChild(link);
                } else {
                    window.open(uri);
                }
                pictureReference.classList.add('m-auto')
        }

        function replaceHtmlWithImage () {
            window.scrollTo(0, 0);
            pictureReference.classList.remove('m-auto');
            html2canvas(pictureReference, {scrollY: -window.scrollY}).then(canvas => {
                pictureContainer.appendChild(canvas);
                pictureReference.classList.add('d-none')
            });
        }

        const delayInMilliseconds = 1;

        setTimeout(function() {
            // CONVERTING HTML TO CANVAS IMAGE IMMEDIATELY CAUSES 3 LINES TO DISAPPEAR
            replaceHtmlWithImage();
        }, delayInMilliseconds);



        const startPoint = {};
        const endPoints = {};

        function calculteStartPoint() {
            let startBlock = (document.querySelector('.first-start-block'));
            if (startBlock.id == "cung_1" || startBlock.id == "cung_2") {
                startPoint.fT = startBlock.offsetTop;
                startPoint.fL = startBlock.offsetLeft + startBlock.offsetWidth / 2;
            } else if (startBlock.id == "cung_3") {
                startPoint.fT = startBlock.offsetTop;
                startPoint.fL = startBlock.offsetWidth;
            } else if (startBlock.id == "cung_4" || startBlock.id == "cung_5") {
                startPoint.fT = startBlock.offsetTop + startBlock.offsetHeight / 2;
                startPoint.fL = startBlock.offsetLeft + startBlock.offsetWidth;
            } else if (startBlock.id == "cung_6") {
                startPoint.fT = startBlock.offsetTop + startBlock.offsetHeight;
                startPoint.fL = startBlock.offsetLeft + startBlock.offsetWidth;
            } else if (startBlock.id == "cung_7" || startBlock.id == "cung_8") {
                startPoint.fT = startBlock.offsetTop + startBlock.offsetHeight;
                startPoint.fL = startBlock.offsetLeft + startBlock.offsetWidth / 2;
            } else if (startBlock.id == "cung_9") {
                startPoint.fT = startBlock.offsetTop + startBlock.offsetHeight;
                startPoint.fL = startBlock.offsetLeft;
            } else if (startBlock.id == "cung_10" || startBlock.id == "cung_11") {
                startPoint.fT = startBlock.offsetTop + startBlock.offsetHeight / 2;
                startPoint.fL = startBlock.offsetLeft;
            } else if (startBlock.id == "cung_12") {
                startPoint.fT = startBlock.offsetTop;
                startPoint.fL = startBlock.offsetLeft;
            }
        }

        function calculateEndPoints() {
            let endBlocks = document.querySelectorAll('.end-blocks');
            for (i = 0; i < endBlocks.length; i++) {
                if (endBlocks[i].id == "cung_1" || endBlocks[i].id == "cung_2") {
                    endPoints[i] = {
                        tT: endBlocks[i].offsetTop,
                        tL: endBlocks[i].offsetLeft + endBlocks[i].offsetWidth / 2
                    }
                } else if (endBlocks[i].id == "cung_3") {
                    endPoints[i] = {
                        tT: endBlocks[i].offsetTop,
                        tL: endBlocks[i].offsetWidth,
                    }
                } else if (endBlocks[i].id == "cung_4" || endBlocks[i].id == "cung_5") {
                    endPoints[i] = {
                        tT: endBlocks[i].offsetTop + endBlocks[i].offsetHeight / 2,
                        tL: endBlocks[i].offsetLeft + endBlocks[i].offsetWidth
                    }
                } else if (endBlocks[i].id == "cung_6") {
                    endPoints[i] = {
                        tT: endBlocks[i].offsetTop + endBlocks[i].offsetHeight,
                        tL: endBlocks[i].offsetLeft + endBlocks[i].offsetWidth
                    }
                } else if (endBlocks[i].id == "cung_7" || endBlocks[i].id == "cung_8") {
                    endPoints[i] = {
                        tT: endBlocks[i].offsetTop + endBlocks[i].offsetHeight,
                        tL: endBlocks[i].offsetLeft + endBlocks[i].offsetWidth / 2
                    }
                } else if (endBlocks[i].id == "cung_9") {
                    endPoints[i] = {
                        tT: endBlocks[i].offsetTop + endBlocks[i].offsetHeight,
                        tL: endBlocks[i].offsetLeft
                    }
                } else if (endBlocks[i].id == "cung_10" || endBlocks[i].id == "cung_11") {
                    endPoints[i] = {
                        tT: endBlocks[i].offsetTop + endBlocks[i].offsetHeight / 2,
                        tL: endBlocks[i].offsetLeft
                    }
                } else if (endBlocks[i].id == "cung_12") {
                    endPoints[i] = {
                        tT: endBlocks[i].offsetTop,
                        tL: endBlocks[i].offsetLeft
                    }
                }
            }
        }
        calculteStartPoint();
        calculateEndPoints();


        function adjustLine(endPoint, line) {
            var fT = startPoint.fT;
            var fL = startPoint.fL;
            var tT = endPoint.tT;
            var tL = endPoint.tL;

            var CA = Math.abs(tT - fT);
            var CO = Math.abs(tL - fL);
            var H = Math.sqrt(CA * CA + CO * CO);
            var ANG = 180 / Math.PI * Math.acos(CA / H);

            if (tT > fT) {
                var top = (tT - fT) / 2 + fT;
            } else {
                var top = (fT - tT) / 2 + tT;
            }
            if (tL > fL) {
                var left = (tL - fL) / 2 + fL;
            } else {
                var left = (fL - tL) / 2 + tL;
            }

            if ((fT < tT && fL < tL) || (tT < fT && tL < fL) || (fT > tT && fL > tL) || (tT > fT && tL > fL)) {
                ANG *= -1;
            }
            top -= H / 2;
            line.style["-webkit-transform"] = 'rotate(' + ANG + 'deg)';
            line.style["-moz-transform"] = 'rotate(' + ANG + 'deg)';
            line.style["-ms-transform"] = 'rotate(' + ANG + 'deg)';
            line.style["-o-transform"] = 'rotate(' + ANG + 'deg)';
            line.style["-transform"] = 'rotate(' + ANG + 'deg)';
            line.style.top = top + 'px';
            line.style.left = left + 'px';
            line.style.height = H + 'px';
        }

        const lines = document.querySelectorAll('.line');
        var index = 0;

        Object.entries(endPoints).forEach(element => {
            let endPoint = element[1];
            let line = lines[index];
            index++;
            adjustLine(endPoint, line);
        });

        //Re-Submit form when user change the year
        const entryName = document.querySelector('.entry-name').innerText;
        const entryDate = document.querySelector('.entry-date').innerText;
        const entryMonth = document.querySelector('.entry-month').innerText;
        const entryBirthyear = document.querySelector('.entry-birthyear').innerText;
        const entryHour = document.querySelector('.entry-hour').innerText;
        const rawSex = document.querySelector('.entry-sex').innerText;
        const entryYear = document.querySelector('.entry-year').innerText;

        const birthday = concatYearAndHour(entryDate, entryMonth, entryBirthyear, entryHour);
        const ouputSex = handleRawSex(rawSex);

        document.querySelector('#fullname').value = entryName;
        document.querySelector('#sex').value = ouputSex;
        document.querySelector('#birthday').value = birthday;

        function handleRawSex(sex) {
            if (sex.toLowerCase().includes("nam")) {
                return 1;
            } else {
                return 0;
            }
        }

        function concatYearAndHour(entryDate, entryMonth, entryBirthyear, entryHour) {
            const outputBirthday = entryDate.concat("/", entryMonth, "/", entryBirthyear, " ", entryHour);
            return outputBirthday
        }

        function reSubmitForm() {
            document.querySelector('.hiddenForm').submit();
        }
        //Xử lý khi tuần triệt cùng xuất hiện trong một cung
        function displayTuanTriet() {
            for (i = 1; i <= 12; i++) {
                const tuantriet = document.querySelectorAll(`.tuan-triet-${i}`);
                if (tuantriet.length > 1) {
                    tuantriet.forEach(element => {
                        element.style.display = "none";
                    })
                    document.querySelector(`.tuan-triet-both-${i}`).style.display = "block";
                }
            }
        }
        displayTuanTriet();

        function copyLink() {
            const rootURL = document.querySelector('#rootURL');
            rootURL.type = "text";
            rootURL.select();
            document.execCommand("copy");
            rootURL.type = 'hidden';
        }
        // redirectIfClickLogo
        function getMobileOperatingSystem() {
            const userAgent = navigator.userAgent || navigator.vendor || window.opera;
            // Windows Phone must come first because its UA also contains "Android"
            if (/windows phone/i.test(userAgent)) {
                return "Windows Phone";
            }

            if (/android/i.test(userAgent)) {
                return "Android";
            }

            // iOS detection from: http://stackoverflow.com/a/9039885/177710
            if (/iPad|iPhone|iPod/.test(userAgent) && !window.MSStream) {
                return "iOS";
            }
            return "unknown";
        }

        const anchorLinkToStore = $('.downloadLink');
        if (anchorLinkToStore) {
            const OS = getMobileOperatingSystem();
            switch (OS) {
                case "Windows Phone":
                case "Android":
                    anchorLinkToStore.attr("href", "https://play.google.com/store/apps/details?id=vn.com.kdpd")
                    break;
                case "iOS":
                    anchorLinkToStore.attr("href", "https://apps.apple.com/vn/app/id1490665451")
                    break;
                default:
                    anchorLinkToStore.attr("href", "https://phuongdonghuyenbi.vn/")
            }
        }

        function handleSaveTemplate () {
            $('#modal-body-content').html("Bạn có chắc chắn muốn lưu lá số này?");
            $('#saveTemplate').show();
            $('#cancelTemplate').hide();
        }
        function handleCancelTemplate () {
            $('#modal-body-content').html("Mẫu lá số này sẽ bị hủy để tạo một mẫu mới, bạn có muốn tiếp tục?");
            $('#saveTemplate').hide();
            $('#cancelTemplate').show();
        }
        const currentLinkInput = document.querySelector('#currentLinkInput');
        if (currentLinkInput) {
            currentLinkInput.value = window.location.href;
        }
        function handleSubmitTemplate() {
            $('.saveTemplateForm').submit();
        }



    </script>
</body>
</html>
